.theme_dark {
  --background-color: #000028;
  --theme-menu-color: #ff0070;
  --main-color: #ff0070;
  --accent-color: #db00ff;
  --text-color: #f1b2ce;
  --button-hover-border: rgba(255, 0, 112, .4);
  --header-background-image: url(../images/cover-image-dark.png);
}

.theme_dark .title-decor {
  --text-color: #000028;
}

.theme_dark .content-boxs__title {
  --text-color: #ff0070;
}

.theme_dark .decorated-rec {
  display: block;
} 

@media (prefers-color-scheme: dark) {
  .title-decor {
    --text-color: #000028;
  }
  .content-boxs__title {
    --text-color: #ff0070;
  }
}