.page.theme_light {
  --background-color: #fff1f7;
  --theme-menu-color: #353430;
  --main-color: #ff8dcB;
  --accent-color: #ffc2e6;
  --text-color: #353430;
  --header-background-image: url(../images/cover-image-light.png);
}

.theme_light .decorated-rec {
  display: none;
}

.theme_light .title-decor {
  --text-color: #353430;
}

.theme_light .content-boxs__title {
  --text-color: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #fff1f7;
    --theme-menu-color: #353430;
    --main-color: #ff8dcB;
    --accent-color: #ffc2e6;
    --text-color: #353430;
    --header-background-image: url(../images/cover-image-light.png);
  }

  .decorated-rec {
    display: none;
  }
}