:root {
  --background-color: #000028;
  --theme-menu-color: #ff0070;
  --main-color: #ff0070;
  --accent-color: #db00ff;
  --text-color: #f1b2ce;
  --main-padding: 10px;
  --header-background-image: url(../images/cover-image-dark.png);
}
